<h1>Записаться</h1>
<p>Здесь вы можете записаться к нам в Barber shop</p>
<form action="/visit" method="post">
  <div class="form-group">
    <label>Ваше имя:</label>
    <input name="client[name]" class="form-control">
  </div>
  <div class="form-group">
    <label>Ваш телефон:</label>
    <input name="client[phone]" class="form-control">
  </div>
  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="client[date]" id="datepicker" class="form-control">
  </div>
  <div class="form-group">
    <label>Ваш парикмахер</label>
    <select name="client[barber]" class="form-control">
      <% @barbers.each do |barber| %>
        <option><%= barber.name %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>
